data/*.txt filter=lfs diff=lfs merge=lfs -text
data filter=lfs diff=lfs merge=lfs -text
data/ex1.txt filter=lfs diff=lfs merge=lfs -text
data/genomeVirus.txt filter=lfs diff=lfs merge=lfs -text
data/kw1260.txt filter=lfs diff=lfs merge=lfs -text
data/mediumDG.txt filter=lfs diff=lfs merge=lfs -text
data/shells.txt filter=lfs diff=lfs merge=lfs -text
data/1Mints.txt filter=lfs diff=lfs merge=lfs -text
data/32Kints.txt filter=lfs diff=lfs merge=lfs -text
data/4Kints.txt filter=lfs diff=lfs merge=lfs -text
data/tale.txt filter=lfs diff=lfs merge=lfs -text
data/tinyST.txt filter=lfs diff=lfs merge=lfs -text
data/leipzig1M.txt filter=lfs diff=lfs merge=lfs -text
data/words3.txt filter=lfs diff=lfs merge=lfs -text
data/largeEWG.txt filter=lfs diff=lfs merge=lfs -text
data/m3.txt filter=lfs diff=lfs merge=lfs -text
data/tinyEWDn.txt filter=lfs diff=lfs merge=lfs -text
data/in1.txt filter=lfs diff=lfs merge=lfs -text
data/medTale.txt filter=lfs diff=lfs merge=lfs -text
data/tobe.txt filter=lfs diff=lfs merge=lfs -text
data/2Kints.txt filter=lfs diff=lfs merge=lfs -text
data/abra.txt filter=lfs diff=lfs merge=lfs -text
data/diffusion.txt filter=lfs diff=lfs merge=lfs -text
data/8Kints.txt filter=lfs diff=lfs merge=lfs -text
data/rs1423.txt filter=lfs diff=lfs merge=lfs -text
data/tinyFN.txt filter=lfs diff=lfs merge=lfs -text
data/tinyT.txt filter=lfs diff=lfs merge=lfs -text
data/1Kints.txt filter=lfs diff=lfs merge=lfs -text
data/mediumG.txt filter=lfs diff=lfs merge=lfs -text
data/movies.txt filter=lfs diff=lfs merge=lfs -text
data/shellsST.txt filter=lfs diff=lfs merge=lfs -text
data/tinyCG.txt filter=lfs diff=lfs merge=lfs -text
data/tinyEWD.txt filter=lfs diff=lfs merge=lfs -text
data/tinyUF.txt filter=lfs diff=lfs merge=lfs -text
data/ex3.txt filter=lfs diff=lfs merge=lfs -text
data/jobs.txt filter=lfs diff=lfs merge=lfs -text
data/largeEWD.txt filter=lfs diff=lfs merge=lfs -text
data/tinytinyTale.txt filter=lfs diff=lfs merge=lfs -text
data/tiny.txt filter=lfs diff=lfs merge=lfs -text
data/largeT.txt filter=lfs diff=lfs merge=lfs -text
data/largeUF.txt filter=lfs diff=lfs merge=lfs -text
data/m2.txt filter=lfs diff=lfs merge=lfs -text
data/largeDG.txt filter=lfs diff=lfs merge=lfs -text
data/largeG.txt filter=lfs diff=lfs merge=lfs -text
data/mediumEWG.txt filter=lfs diff=lfs merge=lfs -text
data/tinyEWDnc.txt filter=lfs diff=lfs merge=lfs -text
data/tinyPQ.txt filter=lfs diff=lfs merge=lfs -text
data/8ints.txt filter=lfs diff=lfs merge=lfs -text
data/ex4.txt filter=lfs diff=lfs merge=lfs -text
data/in2.txt filter=lfs diff=lfs merge=lfs -text
data/tinyW.txt filter=lfs diff=lfs merge=lfs -text
data/jobsPC.txt filter=lfs diff=lfs merge=lfs -text
data/tinyG.txt filter=lfs diff=lfs merge=lfs -text
data/tinyTale.txt filter=lfs diff=lfs merge=lfs -text
data/16Kints.txt filter=lfs diff=lfs merge=lfs -text
data/ababLZW.txt filter=lfs diff=lfs merge=lfs -text
data/cards.txt filter=lfs diff=lfs merge=lfs -text
data/largeW.txt filter=lfs diff=lfs merge=lfs -text
data/tinyEWDAG.txt filter=lfs diff=lfs merge=lfs -text
data/pi.txt filter=lfs diff=lfs merge=lfs -text
data/rates.txt filter=lfs diff=lfs merge=lfs -text
data/routes.txt filter=lfs diff=lfs merge=lfs -text
data/tinyEWG.txt filter=lfs diff=lfs merge=lfs -text
data/ex2.txt filter=lfs diff=lfs merge=lfs -text
data/m1.txt filter=lfs diff=lfs merge=lfs -text
data/mobydick.txt filter=lfs diff=lfs merge=lfs -text
data/mediumUF.txt filter=lfs diff=lfs merge=lfs -text
data/tinyBatch.txt filter=lfs diff=lfs merge=lfs -text
data/tinyDAG.txt filter=lfs diff=lfs merge=lfs -text
data/tinyDG.txt filter=lfs diff=lfs merge=lfs -text
data/abraLZW.txt filter=lfs diff=lfs merge=lfs -text
data/brownian.txt filter=lfs diff=lfs merge=lfs -text
data/mediumEWD.txt filter=lfs diff=lfs merge=lfs -text
data/aminoI.txt filter=lfs diff=lfs merge=lfs -text
data/genomeTiny.txt filter=lfs diff=lfs merge=lfs -text
data/list.txt filter=lfs diff=lfs merge=lfs -text
